<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854689692278-915dg97bv0ulgnouqaf6jp15fcu484n0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854689692278-915dg97bv0ulgnouqaf6jp15fcu484n0</string>
	<key>API_KEY</key>
	<string>AIzaSyAhshP-WSifn5GbZsN_Zj2xpjM6u1PepGg</string>
	<key>GCM_SENDER_ID</key>
	<string>854689692278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>authWithPhone.AuthWithPhone</string>
	<key>PROJECT_ID</key>
	<string>authwithphone-178dd</string>
	<key>STORAGE_BUCKET</key>
	<string>authwithphone-178dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854689692278:ios:6a1fe17f67cbd5d284fd57</string>
	<key>DATABASE_URL</key>
	<string>https://authwithphone-178dd.firebaseio.com</string>
</dict>
</plist>